<div class="bootstrap-wrapper">

    <div class="comtainer">

        <div class="row "  >

            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src = "../../../assets/logo.jpg" height="100px" width="100px" alt="">
                </div>
                <h1 class= "text-center" >Register Here</h1>
                <!-- {{user|json}} -->
                    <form (ngSubmit)="formSubmit()">
                        <!-- // user naem -->
                        <mat-form-field class="full-width" appearance = "outline">
                            <mat-label>Username</mat-label>
                            <input
                            required
                            [(ngModel)]="user.username"
                            name="username"
                             matInput placeholder="Enter your username"/>
                            
                             <mat-hint>User name must be unique !!</mat-hint>
                            </mat-form-field>

                          <!-- password -->
                          <mat-form-field class="full-width" appearance = "outline">
                            <mat-label>Password</mat-label>
                            <input
                            required
                            [(ngModel)]="user.password"
                            name = "password"
                            type="password" matInput placeholder="Enter your password"/>
                        </mat-form-field>

                        <!-- first name -->
                        <mat-form-field class="full-width" appearance = "outline">
                            <mat-label>FirstName</mat-label>
                            <input
                            required
                            [(ngModel)]="user.firstName" 
                            name="firstName"
                            matInput placeholder="Enter your FirstName"/>
                        </mat-form-field>

                          <!-- last name -->
                          <mat-form-field class="full-width" appearance = "outline">
                            <mat-label>LastName</mat-label>
                            <input 
                            required
                            name = "lastName" [(ngModel)]="user.lastName"
                             matInput placeholder="Enter your Last Name"/>
                        </mat-form-field>

                          <!--  email -->
                          <mat-form-field class="full-width" appearance = "outline">
                            <mat-label>Email</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.email" name = "email"
                            type= "email" matInput placeholder="Enter your Email"/>
                        </mat-form-field>

                          <!-- phone number -->
                          <mat-form-field class="full-width" appearance = "outline">
                            <mat-label>Phone Number</mat-label>
                            <input
                            required
                                [(ngModel)]="user.phone"
                                name = "phone"
                            type="number" matInput placeholder="Enter your phone number"/>
                        </mat-form-field>
                        
                        <div class="container text-center">
                            <button type = 'submit' mat-raised-button color="primary">Register</button>
                            <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                        </div>

                    </form>
                </mat-card>
                </div>
            
        </div>
    </div>
</div>