<mat-card>
    <mat-list>
        <div mat-subheader > All Categories </div>
        <mat-list-item *ngFor="let category of categories"> 
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>{{ category.title }}</div>
            <div mat-line>{{ category.description }}</div>
        </mat-list-item>
        
    </mat-list>

    <div class="container text-center mt20">
        <button
            routerLink="/admin/add-category" 
            mat-raised-button color="accent">Add new Category</button>
    </div>
</mat-card>
